@import "function";

$colors: (
  "dark-font": #000000,
  "dark": #000000,
  "white": #fff,
  "light": #FFF,
  "grey": #777,
);

$font: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$breakpoint-mobile: rem(1024);
$breakpoint-tablet: rem(1200);
$max-width: rem(1390);


$z-depth-1: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
$z-depth-2: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);

